## 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = "This is a test of the emergency text system"
with open("test.txt",'w+') as f:
    f.write(test1)

## 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
with open("test.txt",'r+') as f:
    for test2 in f.readlines():
        print(test2)

This is a test of the emergency text system

## 3. Create a CSV file called books.csv by using these lines:
title,author,year  
The Weirdstone of Brisingamen,Alan Garner,1960  
Perdido Street Station,China Miéville,2000  
Thud!,Terry Pratchett,2005  
The Spellman Files,Lisa Lutz,2007  
Small Gods,Terry Pratchett,1992

In [3]:
import csv
outputFile = open('books.csv', 'w', newline='')
outputWriter = csv.writer(outputFile)
outputWriter.writerow(['title','author','year'])
outputWriter.writerow(['The Weirdstone of Brisingamen','Alan Garner','1960'])
outputWriter.writerow(['Perdido Street Station','China Miéville','2000'])
outputWriter.writerow(['Thud!','Terry Pratchett','2005'])
outputWriter.writerow(['The Spellman Files','Lisa Lutz','2007'])
outputWriter.writerow(['Small Gods','Terry Pratchett','1992'])
outputFile.close()

In [4]:
import csv
exampleFile = open('books.csv')
exampleReader = csv.reader(exampleFile)
for row in exampleReader:
    print('Row #' + str(exampleReader.line_num) + ' ' + str(row))

Row #1 ['title', 'author', 'year']
Row #2 ['The Weirdstone of Brisingamen', 'Alan Garner', '1960']
Row #3 ['Perdido Street Station', 'China Miéville', '2000']
Row #4 ['Thud!', 'Terry Pratchett', '2005']
Row #5 ['The Spellman Files', 'Lisa Lutz', '2007']
Row #6 ['Small Gods', 'Terry Pratchett', '1992']

## 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).
## 5. Read books.csv and insert its data into the book table.

In [55]:
import sqlite3

conn = sqlite3.connect('books.db')
print("Connection Opened Successfully")
cur = conn.cursor()
cur.execute('''CREATE TABLE BOOKS
         (TITLE CHAR(50),
         AUTHOR CHAR(50),
         YEAR   INT);''')
print("Table created successfully")
with open('books.csv','r') as f:
    # csv.DictReader uses first line in file for column headings by default
    rec = csv.DictReader(f) # comma is default delimiter
    for i in rec:
        #print(i)
        to_db = (i['title'], i['author'], i['year'])
        print(to_db)
        cur.execute("INSERT INTO BOOKS (title, author, year) VALUES (?, ?, ?);", to_db)
    ##to_db = [(i['title'], i['author'], i['year']) for i in rec]
##print(to_db)

print("Data Inserted successfully")
conn.commit()
conn.close()

Connection Opened Successfully
Table created successfully
('The Weirdstone of Brisingamen', 'Alan Garner', '1960')
('Perdido Street Station', 'China Miéville', '2000')
('Thud!', 'Terry Pratchett', '2005')
('The Spellman Files', 'Lisa Lutz', '2007')
('Small Gods', 'Terry Pratchett', '1992')
Data Inserted successfully

## 6. Select and print the title column from the book table in alphabetical order.

In [58]:
import sqlite3

conn = sqlite3.connect('books.db')
print("Opened database successfully")

cursor = conn.execute("Select title from BOOKS order by title asc;")
for row in cursor:
    print("TITLE = ", row[0])
    ##print("\n")

conn.commit()
print("Operation done successfully")
conn.close()

Opened database successfully
TITLE =  Perdido Street Station
TITLE =  Small Gods
TITLE =  The Spellman Files
TITLE =  The Weirdstone of Brisingamen
TITLE =  Thud!
Operation done successfully

## 7. From the book table, select and print all columns in the order of publication.

In [60]:
import sqlite3

conn = sqlite3.connect('books.db')
print("Opened database successfully")

cursor = conn.execute("Select * from BOOKS order by year asc;")
for row in cursor:
    print("TITLE = ", row[0])
    print("Author = ", row[1])
    print("Year = ", row[2])
    print("\n")

conn.commit()
print("Operation done successfully")
conn.close()

Opened database successfully
TITLE =  The Weirdstone of Brisingamen
Author =  Alan Garner
Year =  1960


TITLE =  Small Gods
Author =  Terry Pratchett
Year =  1992


TITLE =  Perdido Street Station
Author =  China Miéville
Year =  2000


TITLE =  Thud!
Author =  Terry Pratchett
Year =  2005


TITLE =  The Spellman Files
Author =  Lisa Lutz
Year =  2007


Operation done successfully

## 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [61]:
import sqlalchemy as sqla
import pandas as pd
db=sqla.create_engine('sqlite:///books.db')
##print(db)
pd.read_sql('select * from books',db)

Engine(sqlite:///books.db)

                           TITLE           AUTHOR  YEAR
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station   China Miéville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992