## Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.  
Examples  
is_symmetrical(7227) ➞ True  

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [29]:
def is_symmetrical(num):
    rem = ""
    org_num = num
    while int(num) > 0:
        rem = rem + str((int(num % 10)))
        num = num/10
    if int(rem) == org_num:
        return True
    else:
        return False

In [30]:
is_symmetrical(7227)

True

In [31]:
is_symmetrical(12567)

False

In [32]:
is_symmetrical(44444444)

True

In [33]:
is_symmetrical(9939)

False

In [34]:
is_symmetrical(1112111)

True

## Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.  
Examples  
multiply_nums("2, 3") ➞ 6  

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [42]:
def multiply_nums(nums):
    l = nums.split(',')
    mul = 1
    for i in l:
        mul = mul*int(i)
    return mul

In [43]:
multiply_nums("2, 3")

6

In [44]:
multiply_nums("1, 2, 3, 4")

24

In [45]:
multiply_nums("10, -2")

-20

In [46]:
multiply_nums("54, 75, 453, 0")

0

## Question 3
Create a function that squares every digit of a number.  
Examples  
square_digits(9119) ➞ 811181  

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414  
Notes  
The function receives an integer and must return an integer.

In [58]:
def square_digits(num):
    rem = ""
    for i in str(num):
        rem = rem + str(int(i)**2)
    return int(rem)

In [59]:
square_digits(3212)

9414

In [60]:
square_digits(9119)

811181

## Question 4
Create a function that sorts a list and removes all duplicate items from it.  
Examples  
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]  

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [63]:
def setify(l):
    return list(set(l))

In [64]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [65]:
setify([4, 4, 4, 4])

[4]

## Question 5
Create a function that returns the mean of all digits.  
Examples  
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6  
Notes  
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).  
•	The mean will always be an integer.

In [66]:
def mean(num):
    sum = 0
    count = 0
    for i in str(num):
        count += 1
        sum += int(i)
    return int(sum/count)

In [67]:
mean(12345)

3

In [69]:
mean(42)

3

In [70]:
mean(666)

6